defaults/flow.json
[{"id":"c1b0882d.a8fc48","type":"tab","label":"IoT Simulator"},{"id":"9c3ae7e9.1f0388","type":"tab","label":"Temp Sensor with TTS"},{"id":"c7f2af6a.0ab3d","type":"tab","label":"Realtime Translator"},{"id":"91e40bb9.ef7aa8","type":"tab","label":"Car Diagnostics on Dashboard"},{"id":"c94d480d.41e448","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"b74b75d1.425e08","type":"ui_group","z":"","name":"Simulated-Car","tab":"c785dac1.1bec48","disp":true,"width":"6"},{"id":"c785dac1.1bec48","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"c1b0882d.a8fc48","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"LivingRoomThermo1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"c1b0882d.a8fc48","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"c1b0882d.a8fc48","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"c1b0882d.a8fc48","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"c1b0882d.a8fc48","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"c1b0882d.a8fc48","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"c1b0882d.a8fc48","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"c1b0882d.a8fc48","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","qos":"0","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"c1b0882d.a8fc48","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"c1b0882d.a8fc48","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"c1b0882d.a8fc48","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"86df0b6c.af90c8","type":"comment","z":"c1b0882d.a8fc48","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"c1b0882d.a8fc48","name":"Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"c1b0882d.a8fc48","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"c1b0882d.a8fc48","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"b0bc0b07.174b48","type":"ibmiot in","z":"9c3ae7e9.1f0388","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"Watson-IoT-Sensor-Simulator","applicationId":"","deviceType":"Watson-IoT-Sensor-Simulator","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"qos":"1","x":70.20002746582031,"y":362.00003814697266,"wires":[["6e20a927.4b8c18"]]},{"id":"6e20a927.4b8c18","type":"change","z":"9c3ae7e9.1f0388","name":"Get Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":234.7000274658203,"y":362.00000762939453,"wires":[["e7a1be74.16127"]]},{"id":"e7a1be74.16127","type":"function","z":"9c3ae7e9.1f0388","name":"Check Temp 20°","func":"if (msg.payload<20) {\n    if (context.get('status')!='alert') {\n        context.set('status','alert');\n        msg.payload='Hey ! I am cold !';\n        node.send(msg);\n    }\n} else {\n    if (context.get('status')!='ok') {\n        context.set('status','ok')\n         msg.payload='Thats Better ! Now it is warm';\n         node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":423.7000274658203,"y":362.00000762939453,"wires":[["9af6e6fa.4faff8","63a147df.d73bd8","5704db0b.6bab54"]]},{"id":"63a147df.d73bd8","type":"debug","z":"9c3ae7e9.1f0388","name":"","active":true,"console":"false","complete":"payload","x":924.2000274658203,"y":361.0000047683716,"wires":[]},{"id":"9af6e6fa.4faff8","type":"watson-translator","z":"9c3ae7e9.1f0388","name":"From English to French","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":false,"ldparamshidden2":"false","x":697.0000152587891,"y":325.00001335144043,"wires":[["63a147df.d73bd8"]]},{"id":"b75cc346.01055","type":"comment","z":"9c3ae7e9.1f0388","name":"Reply from web page","info":"When you type something into the \"Say This\" box on the web page and click submit,\nThat text is sent over a web socket through this node\nYou can then wire it into the Text to Speech node to hear the text spoken back in the web page","x":303,"y":471.99999237060547,"wires":[]},{"id":"e735799c.822938","type":"websocket in","z":"9c3ae7e9.1f0388","name":"","server":"c94d480d.41e448","client":"","x":329,"y":513.9999923706055,"wires":[["5704db0b.6bab54"]]},{"id":"a62c9d1c.ce921","type":"change","z":"9c3ae7e9.1f0388","name":"Get Speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":693,"y":511.99999237060547,"wires":[["74db68a6.46c538"]]},{"id":"74db68a6.46c538","type":"websocket out","z":"9c3ae7e9.1f0388","name":"","server":"c94d480d.41e448","client":"","x":902.5908813476562,"y":511.72728729248047,"wires":[]},{"id":"d8631e31.2da22","type":"comment","z":"9c3ae7e9.1f0388","name":"Web Page Available at http://<your_app_name>.mybluemix.net/audio","info":"Give it a few seconds to connect.","x":259.40911865234375,"y":612.2726974487305,"wires":[]},{"id":"5c06ee31.1b727","type":"http in","z":"9c3ae7e9.1f0388","name":"[GET] /audio","url":"/audio","method":"get","swaggerDoc":"","x":99.727294921875,"y":666.636344909668,"wires":[["6946cbc5.53bcf4"]]},{"id":"6946cbc5.53bcf4","type":"template","z":"9c3ae7e9.1f0388","name":"Compile Web Page","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IoT Bootcamp - Watson Text To Speech</title>\n    \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"imageArea\"><img id=\"image\" style=\"width:304px;height:228px;\" src=\"http://www.ibm.com/smarterplanet/us/en/ibmwatson/assets/img/logos/IBM_Watson_avatar_simple_b.svg\" alt=\"\" /></div>\n  <div id=\"text\">Connecting...</div>\n  <form id=\"ManualInput\">\n    <div style=\"font-size: 20px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n      Say This:\n      <input type=\"text\" id=\"textToSay\">\n        <img id=\"submitText\" style=\"vertical-align:text-top;width:60px;height:30px;\" src=\"https://dl.dropboxusercontent.com/u/951272/submit-button.jpg\" />\n    </div>\n  </form>\n  <audio id=\"output\"></audio>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n<script>\n\tvar logo = $(\"#image\");\nvar clicks = 0;\n\nfunction changeLogoToListening() {\n  logo.src=\"http://www.ibm.com/smarterplanet/us/en/ibmwatson/assets/img/logos/IBM_Watson_avatar_simple_b.svg\";\n}\n\nfunction changeLogoToPlaying() {\n  logo.src=\"https://developer.ibm.com/watson/wp-content/uploads/sites/19/2015/01/IBM_Watson_avatar_pos.png\";\n}\n\n\nvar socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          changeLogoToPlaying();\n          $('#text').text('Playing audio.')\n            \n      });\n      $('#output').on('ended', function () {\n          changeLogoToListening();\n          $('#text').text('Watson is Listening...')\n\n      });\n\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Watson is Listening...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){\n          console.log(\"Websocket error\");\n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n      \n    });\n\n// $('#textToSay').keydown(function (e){\n    // if(e.keyCode == 13){\n        // var txt = $(\"#textToSay\").val();\n\t\t// sock.send(txt);\n    // }\n// })\n\n$(\"#submitText\").on(\"click\",handleButton);\nfunction handleButton(e) {\n\tvar txt = $(\"#textToSay\").val();\n\tif (txt==\"\")\n\t\tsock.send(\"You Haven't Told Me What to Say\");\n\telse\n\t\tsock.send($(\"#textToSay\").val());\n}\n\nlogo.on(\"click\",handleLogoClick);\nfunction handleLogoClick(e) {\n\tclicks ++ ;\n\tvar txt;\n\tif (clicks == 1) {\n\t\ttxt = \"Hey - do NOT click that\";\n\t}\n\telse if (clicks==2)\n\t\ttxt=\"I'm serious - do NOT click that again\";\n\telse {\n\t\ttxt=\"You made Watson angry\";\n\t\tlogo.attr(\"src\", \"http://pics.livejournal.com/caffienekitty/pic/00a5k157.jpg\");\n\t\tlogo.off(\"click\");\n\t}\n\t//$('#text').text(txt);\n\tsock.send(txt);\n\t//addWarning(txt);\n }\n \n function addWarning(msg) {\n \tvar txt = $(\"<p></p>\").text(msg);\n \t$(\"#ManualInput\").append(txt);\n }\n\n</script>\n</body>\n</html>\n","x":317.727294921875,"y":665.636344909668,"wires":[["383db922.b19a76"]]},{"id":"383db922.b19a76","type":"http response","z":"9c3ae7e9.1f0388","name":"[GET] /audio","x":552.2727661132812,"y":665.909049987793,"wires":[]},{"id":"5704db0b.6bab54","type":"watson-text-to-speech","z":"9c3ae7e9.1f0388","name":"","lang":"en-US","langhidden":"en-US","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","x":523,"y":511.99999237060547,"wires":[["a62c9d1c.ce921"]]},{"id":"6b1053ab.e59d5c","type":"microphone","z":"c7f2af6a.0ab3d","name":"","x":172.1999969482422,"y":128.1999969482422,"wires":[["2ad102e8.a7a85e"]]},{"id":"2ad102e8.a7a85e","type":"watson-speech-to-text","z":"c7f2af6a.0ab3d","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":372.1999969482422,"y":128.1999969482422,"wires":[["64fe7b33.a098d4"]]},{"id":"f85325e9.437358","type":"watson-text-to-speech","z":"c7f2af6a.0ab3d","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":592.1999969482422,"y":248.1999969482422,"wires":[["1f6905f8.713c7a"]]},{"id":"64fe7b33.a098d4","type":"function","z":"c7f2af6a.0ab3d","name":"Prepare for Translation","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":192.1999969482422,"y":188.1999969482422,"wires":[["8bfa53d.c79f9b"]]},{"id":"8bfa53d.c79f9b","type":"watson-translator","z":"c7f2af6a.0ab3d","name":"English to Spanish","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":382.1999969482422,"y":248.1999969482422,"wires":[["f85325e9.437358"]]},{"id":"1f6905f8.713c7a","type":"function","z":"c7f2af6a.0ab3d","name":"Prepare for Speaker","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":682.1999969482422,"y":348.1999969482422,"wires":[["7d43a445.b67c0c"]]},{"id":"7d43a445.b67c0c","type":"play audio","z":"c7f2af6a.0ab3d","name":"","x":720.4999847412109,"y":415.8000030517578,"wires":[]},{"id":"44e0111a.c0883","type":"comment","z":"c7f2af6a.0ab3d","name":"Press the microphone button to start recording and press again when finished","info":"","x":275,"y":75,"wires":[]},{"id":"f45c0333.2dd99","type":"comment","z":"c7f2af6a.0ab3d","name":"Turn on your laptop speakers to hear your translated input","info":"","x":675.9000396728516,"y":473.00001525878906,"wires":[]},{"id":"84035403.6fdf18","type":"comment","z":"9c3ae7e9.1f0388","name":"Click me for information how to access the simulator","info":"URL to simulator:\n\nhttp://watson-iot-sensor-simulator.mybluemix.net/\n\nCreate or Access your Device Credentials on your own IoTP Instance","x":210,"y":300,"wires":[]},{"id":"90b34efc.ce511","type":"ibmiot in","z":"91e40bb9.ef7aa8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"Simulated-Car","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":112.19999694824219,"y":214.1999969482422,"wires":[["39d31fdc.097aa"]]},{"id":"4ababcf8.386c44","type":"ui_gauge","z":"91e40bb9.ef7aa8","name":"Speed","group":"b74b75d1.425e08","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"km/h","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"x":492.1999969482422,"y":174.1999969482422,"wires":[]},{"id":"c2e311c6.efec2","type":"ui_toast","z":"91e40bb9.ef7aa8","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":922.1999969482422,"y":254.1999969482422,"wires":[]},{"id":"1fd8ffb2.5c3ca","type":"comment","z":"91e40bb9.ef7aa8","name":"Click me for information how to access the simulator","info":"URL to simulator:\n\nhttp://watson-iot-car-simulator.mybluemix.net/\n\nCreate or Access your Device Credentials on your own IoTP Instance","x":212.1999969482422,"y":154.1999969482422,"wires":[]},{"id":"39d31fdc.097aa","type":"function","z":"91e40bb9.ef7aa8","name":"Get Speed","func":"msg.payload = msg.payload.location.speed;\n//Trim to integer\nmsg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":312.1999969482422,"y":214.1999969482422,"wires":[["4ababcf8.386c44","e445778f.74bbe8"]]},{"id":"e445778f.74bbe8","type":"switch","z":"91e40bb9.ef7aa8","name":"Speed > 100","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"}],"checkall":"true","outputs":1,"x":512.1999969482422,"y":254.1999969482422,"wires":[["afef65e8.9a1c98"]]},{"id":"afef65e8.9a1c98","type":"function","z":"91e40bb9.ef7aa8","name":"Create Warning Message","func":"msg.payload = \"Speed is greater than 100 km/h\";\nreturn msg;","outputs":1,"noerr":0,"x":712.1999969482422,"y":254.1999969482422,"wires":[["c2e311c6.efec2"]]},{"id":"7928032b.fc004c","type":"comment","z":"91e40bb9.ef7aa8","name":"See under http://<your_app_name>.mybluemix.net/ui","info":"","x":632.1999969482422,"y":134.1999969482422,"wires":[]}]
